h1{
   text-align: center;
   color: goldenrod;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   border-radius: 10px;
}

h3{
   text-align: center;
   color: goldenrod;
}
p{
    text-align: center;
}